.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
}

.link {
  padding: 5px;
  border: solid 1px white;
  border-radius: 5px;
}